
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>

@*@(Html.Kendo().Grid<TrainersSchoolingSystem.Models.DTOs.StudentViewModel>()
        .Name("grid")
        .ToolBar(tools => tools.Pdf())
        .ToolBar(tools => tools.Excel())

        .Pdf(pdf => pdf
        //.AllPages()
        .PaperSize("A4")
        .Margin("2cm", "1cm", "1cm", "1cm")
        .Landscape()
        .FileName("Students.pdf")
        .ProxyURL(Url.Action("Pdf_Export_Save", "Students"))
        )
        .Excel(excel => excel
            .FileName("Students.xlsx")
            .Filterable(true)
            //.AllPages()
            .ProxyURL(Url.Action("Excel_Export_Save", "Students"))
        )
        .Columns(columns =>
        {
            columns.Bound(c => c.StudentId).Width(20).Title("Id");
            columns.Bound(c => c.FirstName).Width(20).Title("Name")
                .ClientTemplate(@"#: FirstName # #: LastName #").Width(50);
            columns.Bound(c => c.Father_.Name).Width(50);
            columns.Bound(c => c.Enrolment.Class_.ClassName).Width(50);
            columns.Bound(c => c.Enrolment.Class_.Section).Width(50);
            columns.Bound(c => c.Enrolment.Fee).Width(50);
            columns.Bound(c => c.Father_.Mobile).Width(50);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Selectable()
        .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetStudents", "Students"))
        .Update(read => read.Action("UpdateStudent", "Students"))
        .PageSize(20)
        .Model(model =>
        {
            model.Id(p => p.StudentId);
            model.Field("Enrolment.Fee", 1.GetType());
        })
        )
    )*@
<div id="grid"></div>

<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            toolbar: ["excel","pdf"],
            excel: {
                fileName: "Students.xlsx",
                proxyURL: "../Students/Excel_Export_Save",
                filterable: true
            },
            pdf: {
                allPages: true,
                avoidLinks: true,
                paperSize: "A4",
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                landscape: true,
                repeatHeaders: true,
                template: $("#page-template").html(),
                scale: 0.8
            },
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Students/GetStudents"
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "StudentId",
                        fields: {
                            //"INVOICE_NUMBER": { type: "number" },
                            "FirstName": { type: "string" }
                        }
                    }
                },
            },
            height: 550,
            groupable: true,
            sortable: true,
            selectable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [{
                field: "StudentId",
                title: "ID",
                width: 30
            }, {
                template: "#: FirstName # #: LastName #",
                field: "FirstName",
                title: "Name",
                width: 80
            }, {
                field: "Father_.Name",
                title: "Father's Name",
                width: 80
            }, {
                field: "Father_.Mobile",
                title: "Contact",
                width: 80
            }, {
                field: "Enrolment.Class_.ClassName",
                title: "Class",
                width: 80
            }, {
                field: "Enrolment.Class_.Section",
                title: "Section",
                width: 80
            },
            {
                field: "Enrolment.Fee",
                title: "Fee",
                width: 80
            }]
        });
    });
</script>