
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<label>Select a bulk Action to Perform on Selected Students </label>
<input id="action" @*value="1"*@ />
<input id="class" />
<input id="section" />
<input id="month" />
<input type="text" id="fee" name="fee" placeholder="100" />
<input type="button" disabled id="btnPerformAction" value="Perform Action" />

<img id="loading" hidden src="~/Content/loading.gif" style="width:60px;height:50px;" />
<a href="#" class="k-button" id="DownloadFeeSlips">Download Fee Slips</a>

<div id="error2" class="alert alert-danger">
    <strong>No class is selected!</strong> Please select a class.
</div>
<div id="error3" class="alert alert-danger">
    <strong>No section is selected!</strong> Please select a section.
</div>
<div id="error4" class="alert alert-danger">
    <strong>Fee field is empty!</strong> Please enter the amount to be increased e.g 100.
</div>
<div id="error1" class="alert alert-danger">
    <strong>No selection is made!</strong> Please select students for bulk operation.
</div>

<div id="grid"></div>

<script>
    var grid, action, class_, section,month, fee, error1, error2, error3, error4;
    $(document).ready(function () {
        /////////////

        ////////////
        $("#btnPerformAction").kendoButton();
        //////////
        $("#grid").kendoGrid({
            //toolbar: ["excel", "pdf"],
            //excel: {
            //    fileName: "Students.xlsx",
            //    proxyURL: "../Students/Excel_Export_Save",
            //    filterable: true
            //},
            //pdf: {
            //    allPages: true,
            //    avoidLinks: true,
            //    paperSize: "A4",
            //    margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
            //    landscape: true,
            //    repeatHeaders: true,
            //    template: $("#page-template").html(),
            //    scale: 0.8
            //},
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Students/GetStudents"
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "StudentId",
                        fields: {
                            //"INVOICE_NUMBER": { type: "number" },
                            "FirstName": { type: "string" }
                        }
                    }
                },
            },
            change: onChange,
            height: 550,
            groupable: true,
            sortable: true,
            //selectable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            persistSelection: true,
            columns: [
                { selectable: true, width: "50px" },
                {
                    field: "StudentId",
                    title: "ID",
                    width: 30
                }, {
                    template: "#: FirstName # #: LastName #",
                    field: "FirstName",
                    title: "Name",
                    width: 80
                }, {
                    field: "Father_.Name",
                    title: "Father's Name",
                    width: 80
                }, {
                    field: "Father_.Mobile",
                    title: "Contact",
                    width: 80
                }, {
                    field: "Enrolment.Class_.ClassName",
                    title: "Class",
                    width: 80
                }, {
                    field: "Enrolment.Class_.Section",
                    title: "Section",
                    width: 80
                },
                {
                    field: "Enrolment.Fee",
                    title: "Fee",
                    width: 80
                }]
        });
        //////////
        var data = [
            { text: "Promote to Upper Class", value: "1" },
            { text: "Change Class", value: "2" },
            { text: "Change Section", value: "3" },
            { text: "Increase Fee", value: "4" },
            { text: "Generate Fee Challan", value: "5" }

        ];

        // create DropDownList from input HTML element
        $("#action").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            autoBind: true,
            index: 0,
            optionLabel: "Select an action...",
            change: onChangeAction
        });
        ///////
        $("#section").kendoDropDownList({
            dataTextField: "LookupText",
            dataValueField: "LookupId",
            //height: 400,
            index: 0,
            optionLabel: "Select a section...",
            change: onChangeSection,
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Lookups/GetLookups?Type=Section"
                }
            }
        });
        /////////
        var monthsData = [
            { text: "January", value: "0" },
            { text: "February", value: "1" },
            { text: "March", value: "2" },
            { text: "April", value: "3" },
            { text: "May", value: "4" },
            { text: "June", value: "5" },
            { text: "July", value: "6" },
            { text: "August", value: "7" },
            { text: "September", value: "8" },
            { text: "October", value: "9" },
            { text: "November", value: "10" },
            { text: "December", value: "11" }
        ];

        // Creating a Date Object 
        var DateObj = new Date();
        // month from above Date Object is being  
        // extracted using getMonth() 
        var currentMonth = DateObj.getMonth();
        // Printing month. 

        $("#month").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            //height: 400,
            index: currentMonth,
            dataSource: monthsData
        });
        /////////
        $("#class").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            change: onChangeClass,
            //height: 400,
            index: 0,
            optionLabel: "Select a class...",
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Classes/GetClasses"
                }
            }
        });
        ///////
        grid = $('#grid').data('kendoGrid');
        action = $('#action').data('kendoDropDownList');
        class_ = $('#class').data('kendoDropDownList');
        section = $('#section').data('kendoDropDownList');
        month = $('#month').data('kendoDropDownList');
        fee = $("#fee");
        error1 = $("#error1");
        error2 = $("#error2");
        error3 = $("#error3");
        error4 = $("#error4");
        link = $("#DownloadFeeSlips");
        HideControls();
        HideErrors();
        ////////
        $("#btnPerformAction").click(function () {
            if (action.value() == 0)
                return;
            var studentIds = grid.selectedKeyNames()/*.join(", ")*/;
            var iserror = false;
            if (studentIds.length == 0) {
                $("#error1").show();
                iserror = true;
            }
            if (action.value() == 2 && class_.value() == 0) {
                iserror = true;
                $("#error2").show();
            }
            if (action.value() == 3 && section.value() == 0) {
                iserror = true;
                $("#error3").show();
            }
            if (action.value() == 4 && fee.val() == "") {
                iserror = true;
                $("#error4").show();
            }
            if (iserror)
                return;
            $("#loading").show();

            var formData = {
                "Action": action.value(),
                "Ids": studentIds,
                "Class": class_.value(),
                "Section": section.value(),
                "Fee": fee.val(),
                "Month": month.value()
            };
            console.log(formData);
            if (action.value() == 5)
                FeeSlipsAjax(formData);
            else
                BulkAjax(formData);
        });
    });
    function BulkAjax(formData) {
        $.ajax({
            url: "../Students/Bulk",
            type: "POST",
            dataType: "json",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=utf-8",
            success: function (data_) {
                $("#loading").hide();

                //alert(data_);
                console.log(data_);
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.read();
                grid.refresh();
                action.value(0);
                HideControls();
                $("#btnPerformAction").prop('disabled', true);
                if (formData["Action"] == "5") {
                    link.prop("href", data_);
                    link.show();
                }

            },
            error: function (data_) {
                $("#loading").hide();

                alert(data_.responseText)
                console.log("error");
            }
        });
    }
    function FeeSlipsAjax(formData) {
        $.ajax({
            url: "../Students/GenerateFeeSlips2",
            type: "POST",
            //dataType: "application/msword",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=utf-8",
            success: function (data_) {
                $("#loading").hide();

                //alert(data_);
                console.log(data_);
                action.value(0);
                HideControls();
                $("#btnPerformAction").prop('disabled', true);
                var win = window.open('../Content/Temp/FeeSlips.html', '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                    win.print();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            },
            error: function (data_) {
                $("#loading").hide();
                console.log(data_);
                alert(data_.responseText);
                console.log("error");
            }
        });
    }
    function onChange(arg) {
        if (grid.selectedKeyNames().length > 0)
            error1.hide();
        //console.log(arg);
        //console.log("The selected product ids are: [" + grid.selectedKeyNames().join(", ") + "]");

    }
    function onChangeAction(arg) {

        HideControls();
        HideErrors();
        console.log(action.value());
        console.log($("#btnPerformAction"));
        if (action.value() != 0) {
            $("#btnPerformAction").prop('disabled', false);
            $("#btnPerformAction").removeClass('k-state-disabled');
        }
        else {
            $("#btnPerformAction").prop('disabled', true);
        }
        if (action.value() == 2) {
            class_.wrapper.show();
        }
        else if (action.value() == 3) {
            section.wrapper.show();
        }
        else if (action.value() == 4) {
            fee.show();
        }
        else if (action.value() == 5) {
            month.wrapper.show();
        }
    }
    function HideErrors() {
        error1.hide();
        error2.hide();
        error3.hide();
        error4.hide();
    }
    function HideControls() {
        class_.wrapper.hide();
        section.wrapper.hide();
        fee.hide();
        link.hide();
        month.wrapper.hide();
    }
    function onChangeClass(arg) {
        if (class_.value() != 0)
            error2.hide();
    }
    function onChangeSection(arg) {
        if (section.value() != 0)
            error3.hide();
    }
</script>