
@{
    ViewBag.Title = "Students";
}

<h2>Students</h2>
<label>Enter The amount to be added to current fee of selected students</label>
<input type="text" id="fee" name="fee" placeholder="100"/>
<input type="button" id="btnFee" value="Increase Fee" />
<div id="grid"></div>

<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            toolbar: ["excel", "pdf"],
            excel: {
                fileName: "Students.xlsx",
                proxyURL: "../Students/Excel_Export_Save",
                filterable: true
            },
            pdf: {
                allPages: true,
                avoidLinks: true,
                paperSize: "A4",
                margin: { top: "2cm", left: "1cm", right: "1cm", bottom: "1cm" },
                landscape: true,
                repeatHeaders: true,
                template: $("#page-template").html(),
                scale: 0.8
            },
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Students/GetStudents"
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "StudentId",
                        fields: {
                            //"INVOICE_NUMBER": { type: "number" },
                            "FirstName": { type: "string" }
                        }
                    }
                },
            },
            change: onChange,
            height: 550,
            groupable: true,
            sortable: true,
            //selectable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            persistSelection: true,
            columns: [
                { selectable: true, width: "50px" },
                {
                    field: "StudentId",
                    title: "ID",
                    width: 30
                }, {
                    template: "#: FirstName # #: LastName #",
                    field: "FirstName",
                    title: "Name",
                    width: 80
                }, {
                    field: "Father_.Name",
                    title: "Father's Name",
                    width: 80
                }, {
                    field: "Father_.Mobile",
                    title: "Contact",
                    width: 80
                }, {
                    field: "Enrolment.Class_.ClassName",
                    title: "Class",
                    width: 80
                }, {
                    field: "Enrolment.Class_.Section",
                    title: "Section",
                    width: 80
                },
                {
                    field: "Enrolment.Fee",
                    title: "Fee",
                    width: 80
                }]
        });

        ////////
        $("#btnFee").click(function () {

            $.ajax({
                url: "/setup/temp",
                type: "POST",
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    var grid = $('#grid').data('kendoGrid');
                    grid.dataSource.read();
                    grid.refresh();
                }
            });


            //console.log("clicked");
            
        });
    });
    function onChange(arg) {
        var grid = $('#grid').data('kendoGrid');
        //console.log(arg);
        //console.log("The selected product ids are: [" + grid.selectedKeyNames().join(", ") + "]");
        
    }
</script>