@using (Html.BeginForm("ProcessData", "Migration", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
}

<h3 style="color:forestgreen">@ViewBag.Message</h3>
