
@{
    ViewBag.Title = "Employees";
}

<h2>Students</h2>
<label>Select a bulk Action to Perform on Selected Staff Members </label>
<input id="action" />
<input id="month" />

<input type="button" disabled id="btnPerformAction" value="Perform Action" />

<img id="loading" hidden src="~/Content/loading.gif" style="width:60px;height:50px;" />

<div id="error1" class="alert alert-danger">
    <strong>No selection is made!</strong> Please select staff members for bulk operation.
</div>

<div id="grid"></div>

<script>
    function GetStatus(index) {
        var temp = [
            { Status: "Not Selected", value: 0 },
            { Status: "Absent", value: 1 },
            { Status: "Present", value: 2 },
            { Status: "ShortLeave", value: 3 },
            { Status: "LateArrival", value: 4 }
        ];
        return temp[index]["Status"];
    }
    var grid, action, error1;
    $(document).ready(function () {
        console.log("status" + GetStatus(0));
        console.log("status" + GetStatus(0));
        $("#btnPerformAction").kendoButton();

        $("#grid").kendoGrid({
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Staffs/GetCurrentStaffs",
                    update: {
                        url: "../Staffs/MarkAttendance", //specify the URL from which should update the records. This is the Update method of the Products.svc service.
                        contentType: "application/json; charset=utf-8", // tells the web service to serialize JSON
                        type: "POST" //use HTTP POST request as the default GET is not allowed for svc
                    },
                    parameterMap: function (options, operation) {

                        if (operation != "read") {
                            return JSON.stringify({ models: options.models })
                        }

                    }
                },
                ServerOperation: false,
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "StaffId",
                        fields: {
                            "StaffId": { type: "number", editable: false },
                            "Name": { type: "string", editable: false },
                            "Gender": { type: "string", editable: false },
                            "Designation": { type: "string", editable: false },
                            "DateOfBirth": { type: "date", editable: false },
                            "JoiningDate": { type: "date", editable: false },
                            "Mobile": { type: "string", editable: false },
                            "Address": { type: "string", editable: false },
                            "Age": { type: "number", editable: false }
                        }
                    }
                },
            },
            change: onChange,
            height: 550,
            groupable: true,
            sortable: true,
            editable: true,
            toolbar: ["save", "cancel"],
            //selectable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            persistSelection: true,
            columns: [
                { selectable: true, width: "20px" },
                {
                    field: "StaffId",
                    title: "ID",
                    width: 40
                }, {
                    field: "Name",
                    title: "Name",
                    width: 100
                }, {
                    field: "Gender",
                    title: "Gender",
                    width: 80
                }, {
                    field: "DateOfBirth",
                    title: "Date of Birth",
                    width: 80,
                    template: "#= kendo.toString(kendo.parseDate(DateOfBirth, 'yyyy-MM-dd'), 'dd-MMM-yyyy') #"
                }, {
                    field: "Age",
                    title: "Age",
                    width: 80
                }, {
                    field: "Designation",
                    title: "Designation",
                    width: 80
                }, {
                    field: "JoiningDate",
                    title: "Joining Date",
                    width: 80,
                    template: "#= kendo.toString(kendo.parseDate(JoiningDate, 'yyyy-MM-dd'), 'dd-MMM-yyyy') #"
                }, {
                    field: "Mobile",
                    title: "Mobile",
                    width: 80
                }, {
                    field: "Address",
                    title: "Address",
                    width: 80
                }, {
                    field: "Status",
                    title: "Status",
                    editor: statusDropDownEditor,
                    //template: "#=Status#",
                    template: "#=GetStatus(Status)#",
                    width: 100
                }, {
                    field: "StaffId",
                    title: "Action",
                    template: "<a href=/Staffs/UpdateData/#=StaffId#>Update Data</a>",
                    width: 100
                }]
        });

        var data = [
            { text: "Terminate", value: "1" },
            { text: "Generate Pay Slip", value: "2" }
        ];

        // create DropDownList from input HTML element
        $("#action").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            autoBind: true,
            index: 0,
            optionLabel: "Select an action...",
            change: onChangeAction
        });
        /////////
        var monthsData = [
            { text: "January", value: "0" },
            { text: "February", value: "1" },
            { text: "March", value: "2" },
            { text: "April", value: "3" },
            { text: "May", value: "4" },
            { text: "June", value: "5" },
            { text: "July", value: "6" },
            { text: "August", value: "7" },
            { text: "September", value: "8" },
            { text: "October", value: "9" },
            { text: "November", value: "10" },
            { text: "December", value: "11" }
        ];

        var DateObj = new Date();
        var currentMonth = DateObj.getMonth();
        $("#month").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            index: currentMonth,
            dataSource: monthsData
        });
        grid = $('#grid').data('kendoGrid');
        action = $('#action').data('kendoDropDownList');
        month = $('#month').data('kendoDropDownList');

        error1 = $("#error1");
        HideControls();
        HideErrors();

        $("#btnPerformAction").click(function () {
            if (action.value() == 0)
                return;
            var StaffIds = grid.selectedKeyNames();
            var iserror = false;
            if (StaffIds.length == 0) {
                $("#error1").show();
                iserror = true;
            }

            if (iserror)
                return;
            $("#loading").show();

            var formData = {
                "Action": action.value(),
                "Ids": StaffIds,
                "Month": month.value()
            };
            console.log(formData);
            FeeSlipsAjax(formData);

        });
    });
    function FeeSlipsAjax(formData) {
        $.ajax({
            url: "../Staffs/Bulk",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=utf-8",
            success: function (data_) {
                console.log(data_);
                $("#loading").hide();
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
                console.log(action.value());

                if (action.value() == 2) {
                    var win = window.open(data_, '_blank');
                    if (win) {
                        //Browser has allowed it to be opened
                        win.focus();
                        win.print();
                    } else {
                        //Browser has blocked it
                        alert('Please allow popups for this website');
                    }
                }
                action.value(0);
                HideControls();
                $("#btnPerformAction").prop('disabled', true);
            },
            error: function (data_) {
                $("#loading").hide();
                console.log(data_);
                alert(data_.responseText);
                console.log("error");
            }
        });
    }
    function onChange(arg) {
        if (grid.selectedKeyNames().length > 0)
            error1.hide();
        //console.log(arg);
        //console.log("The selected product ids are: [" + grid.selectedKeyNames().join(", ") + "]");

    }
    function onChangeAction(arg) {
        if (action.value() != 0) {
            $("#btnPerformAction").prop('disabled', false);
            $("#btnPerformAction").removeClass('k-state-disabled');
        }
        else {
            $("#btnPerformAction").prop('disabled', true);
        }
        HideControls();
        HideErrors();
        if (action.value() == 2) {
            month.wrapper.show();
        }
    }

    function HideErrors() {
        error1.hide();
    }
    function HideControls() {

        month.wrapper.hide();
    }
    function statusDropDownEditor(container, options) {

        console.log(options);
        var temp = [
            //{ Status: "Not Selected", value: 0 },
            { Status: "Absent", value: 1 },
            { Status: "Present", value: 2 },
            { Status: "ShortLeave", value: 3 },
            { Status: "LateArrival", value: 4 }
        ];
        $('<input required name="' + options.field + '"/>')
            .appendTo(container)
            .kendoDropDownList({
                dataTextField: "Status",
                dataValueField: "value",
                dataSource: temp,
                autoBind: true,
                index: 0,
                optionLabel: "Select status...",
            });
    }
</script>