
@{
    ViewBag.Title = "Students";
}

<h2>Send SMS to Students</h2>
IP Address of Phone: <br /><input class="input-sm" id="ip" name="ip" value="192.168.0.1" /><br /><br />
Write message below:<br />
<textarea type="text" id="message" name="message" class="input-lg" style="height:200px">
dear _PARENT_, _STUDENT_ is absent today.
</textarea><br />
<input type="button" id="btnPerformAction" value="Send SMS" /><br /><br />

<img id="loading" hidden src="~/Content/loading.gif" style="width:60px;height:50px;" />

<div hidden id="error1" class="alert alert-danger">
    <strong>Message is empty!</strong>
</div>
<div hidden id="error2" class="alert alert-danger">
    <strong>No Student is selected!</strong> Please select a student.
</div>


<div id="grid"></div>

<script>
    var grid, ip, msg, error1, error2;
    $(document).ready(function () {
        $("#btnPerformAction").kendoButton();
        $("#grid").kendoGrid({
            dataSource: {
                type: "jsonp",
                transport: {
                    read: "../Students/GetStudents"
                },
                pageSize: 20,
                schema: {
                    model: {
                        id: "StudentId",
                        fields: {
                            "FirstName": { type: "string" }
                        }
                    }
                },
            },
            change: onChange,
            height: 550,
            groupable: true,
            sortable: true,
            filterable: {
                mode: "row"
            },
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            persistSelection: true,
            columns: [
                { selectable: true, width: "50px" },
                {
                    field: "StudentId",
                    title: "ID",
                    width: 30
                }, {
                    template: "#: FirstName # #: LastName #",
                    field: "FirstName",
                    title: "Name",
                    width: 80
                }, {
                    field: "Father_.Name",
                    title: "Father's Name",
                    width: 80
                }, {
                    field: "Father_.Mobile",
                    title: "Contact",
                    width: 80
                }, {
                    field: "Enrolment.Class_.ClassName",
                    title: "Class",
                    width: 80
                }, {
                    field: "Enrolment.Class_.Section",
                    title: "Section",
                    width: 80
                },
                {
                    field: "Enrolment.Fee",
                    title: "Fee",
                    width: 80
                }]
        });
        grid = $('#grid').data('kendoGrid');
        error1 = $("#error1");
        error2 = $("#error2");

        $("#message").on('change keyup paste', function () {
            if ($("#message").val() != "") {
                $("#error1").hide();
            }
        });
        $("#btnPerformAction").click(function () {
            var studentIds = grid.selectedKeyNames()/*.join(", ")*/;
            var iserror = false;

            if ($("#message").val() == "") {
                $("#error1").show();
                iserror = true;
            }
            if (studentIds.length == 0) {
                $("#error2").show();
                iserror = true;
            }
            if (iserror)
                return;
            $("#loading").show();

            var formData = {
                "Action": $('#ip').val(),
                "Ids": studentIds,
                "Class": $("#message").val()
            };
            console.log(formData);
            SendSMS(formData);
        });
    });
    function SendSMS(formData) {
        $.ajax({
            url: "../SMS/SendBulk",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json;charset=utf-8",
            success: function (data_) {
                $("#loading").hide();
                console.log(data_);
            },
            error: function (data_) {
                $("#loading").hide();
                console.log(data_);
                //alert(data_.responseText);
                console.log("error");
            }
        });
    }
    function onChange(arg) {
        if (grid.selectedKeyNames().length > 0)
            error2.hide();
    }
    function onChangeAction(arg) {
    }

</script>